---
import ScriptIsland from "../integrations/script-island/ScriptIsland.si"
---

<html>
  <head>
    <title>Script Island Test</title>
  </head>
  <body>
    <h1>Test</h1>

    <div class="box" style="width: 100px; height: 100px; background: red;">
    </div>
    <ScriptIsland client:visible client:idle={{ timeout: 2000 }}>
      <script is:inline>
        import gsap from "gsap"
        gsap.to(".box", { rotation: 360, duration: 2 })
        console.log("with import")
      </script>
    </ScriptIsland>
    <ScriptIsland client:idle={{ timeout: 4000 }}>
      <script is:inline>
        console.log("tiny")
      </script>
    </ScriptIsland>
    <script>
      console.log("normal script that should be inlined")
    </script>
  </body>
</html>
