---
import { ScriptIsland } from "../integrations/script-island/ScriptIsland.si"
---

<div class="test">Hello</div>

<ScriptIsland client:load>
  <script>
    console.log("Script island loaded!")
  </script>
</ScriptIsland>
