---
import ScriptIsland from "../integrations/script-island/ScriptIsland.si"

console.log("ScriptIsland:", ScriptIsland)
---

<html>
  <body>
    <h1>Test</h1>

    <ScriptIsland client:load>
      <script>
        console.log("Hello from island!")
      </script>
    </ScriptIsland>
  </body>
</html>
